h1{
    color: whitesmoke;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h3 {
    color: whitesmoke;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}